<!DOCTYPE html>
<html>
<head>
	<title>About - Alpha Blog</title>
</head>
<body>
	<div class="header">
		<h1>Brought to you by appsolutEYL</h1>
	</div>
	<div class="menu">
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'About', about_path %></li>
		</ul>
	</div>
	<div class="content">
		<p>
			This is a the  about page for alpha blog
		</p>
	</div>
</body>
</html>